@media screen and (max-width: 1100px) {
  .wrapper {
    width: 90%;
  }

  #social {
    position: absolute;
    /*width: automatic;*/
    margin-top: 82px;
    margin-right: 4px;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 85%;
  }

  #logo h1 {
    height: 35px;
    width: 35px;
  }

  #logo h2 {
    font-size: 2.2em;
  }

  #social {
    margin-top: 72px;
  }

  .col-3 p {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media screen and (max-width: 750px) {
  #navbar nav a {
    font-size: 0.9em;
  }

  .col-3 p {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 2;
  }

  .col-1, .col-2, .col-3 {
    width: 100%;
    margin-left: 0;
    float: none;
  }

  .border-right {
    border: 0;
  }

  #details div {
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  #navbar {
    width: 100%;
  }

  #navbar nav a {
    display: none;
  }

  #navbar nav a.menu-icon {
    display: inline-block;
    left: 0;
    top: 0;
  }

  #logo h2 {
    display: none;
  }

  #social {
    margin-top: 84px;
  }

  #social a {
    display: inline-block;
    width: 140px;
  }
}
